[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Dominik Selzer
	email = dominik.selzer@uni-saarland.de
[credential]
	helper = manager
[core]
	longpaths = true
	autocrlf = false
	editor = code --wait
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
      tool = vscode
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[alias]
    undo = reset --soft HEAD^

[url "https://github.com/"]
	insteadOf = git@github.com:
[credential "helperselector"]
	selected = manager
